In [82]:
import os
import json
import pandas as pd
import pymongo
import dns
import json
from nltk.sentiment import SentimentAnalyzer

### read the query-doc JSON file

In [83]:
# define the directory path
path_to_json = '/Users/emadarmiti/Desktop/cap-s5/places_ranking/es_qureries/'

# define the query-document json file 
query_doc = json.loads('{}')

# get all json files that exist in the directory
for file_path in os.listdir(path_to_json):
    
    if file_path.endswith('.json'):
        
        # open the json file 
        with open(os.path.join(path_to_json,file_path)) as json_file:
            
            # append the json file, to get all of them in on json variable
            query_doc.update(json.load(json_file))

In [84]:
len(query_doc)

23079

### connect to MongoDB

In [180]:
def connect_mongodb(mongoDB_url, database_name, collection_name):
    """connect to the mongoDB 

    Args:
        mongoDB_url : mongoDB endpoint url
        database_name : database name
        collection_name : collection name

    Returns:
        the database collection object
    """

    # create mongodb client
    mongoDB_client = pymongo.MongoClient(mongoDB_url)
    
    # get the database
    tweets_database = mongoDB_client[database_name]

    # get the collection
    tweets_collection = tweets_database[collection_name]
    
    # return the collection object
    return tweets_collection

In [181]:
# define the mongoDB endpoint
mongodb_url = "mongodb://rama:rama@cluster0-shard-00-00.xlj8q.mongodb.net:27017,cluster0-shard-00-01.xlj8q.mongodb.net:27017,cluster0-shard-00-02.xlj8q.mongodb.net:27017/tweets?ssl=true&replicaSet=atlas-yi054u-shard-0&authSource=admin&retryWrites=true&w=majority"

# connect to the database
tweets_collection = connect_mongodb(mongodb_url, "tweets", "tweets2018")

### find the tweets that near to the documents

In [182]:
def find_tweets_near_place(coordinates):
    """find the tweets within 100m radius from the passed coordinates

    Args:
       coordinates : lon,lat for the central point

    Returns:
        extracted info from the tweets
    """
    
    # define the body of the query
    myquery =  [
        
      { "$geoNear": {
          
             "near": { "type": "Point", "coordinates": coordinates },
             "distanceField": "place.coordinates",
             "maxDistance": 100}}
        
        
    ,{  "$group": { 
        
            "_id": None,
            "tweets_count": { "$sum": 1 },
            "replies_count": { "$sum": "replies_count"},
            "retweets_count": { "$sum": "retweets_count"}, 
            "likes_count": { "$sum": "likes_count"}}}]

    # send the query and return the results
    return list(tweets_collection.aggregate(myquery))

In [191]:
def build_dataset(documents, query):
    
    # define the list result of the documents data
    documents_data = []
    
    # go over each document and gather its info
    for doc in documents:
       
        # slice the location of the document
        coordinates = list(doc['_source']['location'].values())
        
        # get the tweets
        tweets = find_tweets_near_place(coordinates)
        
        # neglect the doc that don't have tweets
        if len(tweets):
            
            # define the dict for the document
            doc_data = {"query" : query}
            
            # add the elasticsearch score
            doc_data['elasticsearch_score'] = doc['_score']
            
            # add the document name and its location
            doc_data.update({"document" : doc['_source']['name'], 
                               "location": doc['_source']['location']})
            
            # add the tweets info
            doc_data.update(tweets[0])
            
            # append the doc dict to the list result
            documents_data.append(doc_data)
    
    # return the documents data
    return documents_data

In [192]:
# define the result dict for all query-doc 
tweets_query_doc = []

In [193]:
# go over each query-doc and use the previous function to get the tweets info from the MongoDB
for query in list(query_doc.keys())[:3]:
    
    # build the dataset for one query
    query_doc_data = build_dataset(query_doc[query], query)
    
    # neglect the queries that don't have documents with tweets
    if len(query_doc_data):
        tweets_query_doc.extend(query_doc_data)

In [194]:
pd.json_normalize(tweets_query_doc)

,query,elasticsearch_score,document,_id,tweets_count,replies_count,retweets_count,likes_count,location.lat,location.lon
0,Dix/Adler,10.596428,Johnathan Adler,None,17,0,0,0,40.778723,-73.960194
1,Dix/Adler,10.596423,Jonathan Adler,None,30,0,0,0,40.779032,-73.977859
2,Downt,7.047873,Up & Down,None,151,0,0,0,40.739328,-74.001875
3,Downt,7.047838,Dont know,None,66,0,0,0,40.704341,-73.986637
4,Downt,7.047823,Chau Down,None,43,0,0,0,40.689735,-73.979871
5,Downt,6.029442,Double Down Saloon,None,51,0,0,0,40.722569,-73.985846
6,EastRi,4.749061,Kasuri,None,3,0,0,0,42.256250,-73.795907
7,EastRi,4.747308,Eastern,None,6,0,0,0,40.765673,-73.930822

In [74]:
data.to_csv('/Users/emadarmiti/Desktop/cap-s5/places_ranking/row_data.csv')


### build the dataframe

### save the query-doc-tweets into a JSON file

# tf-idf?
# should we delete non tweets doc?
# why just two featrues in labeling?
# hashtags
# query/document length
# nlp
# tweets average length
# mentions - boolean
## label = nlp + distance + elasicsearch + tweets?