In [82]:
import os
import json
import pandas as pd
import pymongo
import dns
import json
from nltk.sentiment import SentimentAnalyzer

### read the query-doc JSON file

In [83]:
# define the directory path
path_to_json = '/Users/emadarmiti/Desktop/cap-s5/places_ranking/es_qureries/'

# define the query-document json file 
query_doc = json.loads('{}')

# get all json files that exist in the directory
for file_path in os.listdir(path_to_json):
    
    if file_path.endswith('.json'):
        
        # open the json file 
        with open(os.path.join(path_to_json,file_path)) as json_file:
            
            # append the json file, to get all of them in on json variable
            query_doc.update(json.load(json_file))

In [84]:
len(query_doc)

23079

### connect to MongoDB

In [85]:
# define the mongoDB endpoint
mongoDB = "mongodb://rama:rama@cluster0-shard-00-00.xlj8q.mongodb.net:27017,cluster0-shard-00-01.xlj8q.mongodb.net:27017,cluster0-shard-00-02.xlj8q.mongodb.net:27017/tweets?ssl=true&replicaSet=atlas-yi054u-shard-0&authSource=admin&retryWrites=true&w=majority"
        
# defien mongodb client
mongoDB_client = pymongo.MongoClient(mongoDB)

In [86]:
# get the database
tweets_database = mongoDB_client['tweets']

# get the collection
tweets_collection = tweets_database['tweets2018']

### find the tweets that near to the documents

In [139]:
def find_tweets_near_place(coordinates):

    
    # define the body of the query
    myquery =  [
      { "$geoNear": {
          
         "near": { "type": "Point", "coordinates": coordinates },
         "distanceField": "place.coordinates",
         "maxDistance": 100
         }
       }
    ,{  "$group": { "_id": None,
                   "tweets_count": { "$sum": 1 },
                   "replies_count": { "$sum": "replies_count"},
                   "retweets_count": { "$sum": "retweets_count"}, 
                   "likes_count": { "$sum": "likes_count"}
                  } }]

    # send the query and return the results
    return list(tweets_collection.aggregate(myquery))

In [171]:
# define the result dictt
tweets_query_doc = []

In [172]:
# go over each query-doc and use the previous function to get the tweets from the MongoDB
for query in list(query_doc.keys()):
    
    doc_tweets = {"query":query}
    
    for doc in query_doc[query]:
        
        # slice the location of the document
        coordinates = list(doc['_source']['location'].values())
        
        # get the tweets
        tweets = find_tweets_near_place(coordinates)
        
        # neglect the doc that don't have tweets
        if len(tweets):
            doc_tweets['elasticsearch_score'] = doc['_score']
            doc_tweets.update({"document" : doc['_source']['name'], 
                               "location": doc['_source']['location']})
            doc_tweets.update(tweets[0])
    
    # neglect the queries that don't have documents with tweets
    if "document" in doc_tweets:
        tweets_query_doc.append(doc_tweets)

In [174]:
pd.json_normalize(tweets_query_doc)

,query,elasticsearch_score,document,_id,tweets_count,replies_count,retweets_count,likes_count,location.lat,location.lon
0,Dix/Adler,10.596423,Jonathan Adler,None,30,0,0,0,40.779032,-73.977859
1,Downt,6.029442,Double Down Saloon,None,51,0,0,0,40.722569,-73.985846
2,EastRi,4.747308,Eastern,None,6,0,0,0,40.765673,-73.930822

In [74]:
data.to_csv('/Users/emadarmiti/Desktop/cap-s5/places_ranking/row_data.csv')


### build the dataframe

# tf-idf?
# should we delete non tweets doc?
# why just two featrues in labeling?
# hashtags
# query/document length
# nlp
# tweets average length
# mentions - boolean
## label = nlp + distance + elasicsearch + tweets?